/* section 1 */
section {
  background: rgb(15, 15, 15);
}

#contact-header {
  width: 100%;
  height: 420px;
  position: relative;
}

#contact-header #text-overlay {
  background-color: rgb(208, 189, 160);
  height: 110px;
  top: 130px;
}

#contact-header #text-overlay h2{
  margin: 35px 30px 100px 186px;
}

#empty-space {
  height: 280px;
}

#contact-details {
  width: 900px;
  margin-inline: auto;
  color: white;
  display: flex;
}

.detail-info {
  width: 240px;
  margin-right: 40px;
}

#logos {
  width: 150px;
}

.detail-info i{
  color: rgb(102, 87, 242);
  margin-right: 10px;
  width: 35px;
  height: 35px;
  font-size: 30px;
  cursor: pointer;
  margin-top: 10px;
}

.detail-info i:hover{
  filter: brightness(1.5);
}

.detail-info span{
  color: rgb(116, 101, 251);
  font-weight: bold;
}

.detail-info h3{
  width: 100%;
  margin-bottom: 5px;
  font-weight:600;
  font-size: 17px;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
  letter-spacing: 2px;
}

/* section 2 */

#map {
  filter: hue-rotate(65deg) brightness(95%) saturate(130%) invert(90%) grayscale(80%);
  display: flex;
}

#map iframe {
  width: 100%;
  height: 400px;
  border: none;
  padding: 0;
}

/* section 3 */
#form {
  height: 550px;
  
}

#form-container {
  width: 900px;
  margin: auto;
  /* padding-right: 30px; */
}

#contact-form {
  padding-top: 40px;
  color: white;
  position: relative;
}

#contact-form h3{
  font-size: 22px;
  text-align: left;
  font-weight: normal;
  width: 92%;
  margin: auto;
  margin-bottom: 20px;
}

#contact-form label{
  font-family: "Open Sans", Arial, sans-serif;
  padding-bottom: 5px;
  width: 89%;
}

#contact-form input{
  background-color: rgb(54, 53, 56);
  height: 35px;
  border: none;
  padding-inline: 8px;
  box-sizing: border-box;
  color: white;
  width: 89%;
}

#contact-form textarea{
  background-color: rgb(54, 53, 56);
  border: none;
  padding: 8px;
  box-sizing: border-box;
  color: white;
  width: 89%;
}

#contact-form-popup {
  position: absolute;
  top: 110px;
  left: 150px;
  z-index: 10;
  background-color: rgb(6, 6, 6);
  width: 610px;
  height: 374px;
  border-radius: 10px;
  border: 1px solid rgb(84, 79, 97);
  box-shadow: 0 0 10px 1px black;
  visibility: hidden;
  padding: 150px;
  box-sizing: border-box;
}

.show {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: 30px;
    opacity: 0;
  }

  to {
    margin-top: 0;
    opacity: 1;
  }
}

.go {
  animation-duration: 1s;
  animation-name: slideout;
}

@keyframes slideout {
  from {
    margin-top: 0px;
    opacity: 1;
  }

  to {
    margin-top: 30px;
    opacity: 0;
  }
}