@font-face {
  font-family: Didot-R;
  src: url(../fonts/Didot-Regular.ttf);
}

/* Img-text section */
.container {
  height: 590px;
  position: relative;
}

#top-image {
  height: 590px;
  width: 100%;
  object-fit: cover;
  position: absolute;
  filter: grayscale(40%) blur(3px);
  animation-duration: 0.7s;
  animation-name: imgslidein;
}

@keyframes imgslidein {
  from {
    opacity: 0;
    height: 600px;
    filter: blur(0px);
  }

  to {
    opacity: 1;
    height: 590px;
    filter: grayscale(40%) blur(3px);
  }
}

.container h2 {
  font-family: Didot-R, Helvetica, Arial, sans-serif;
  font-family: Lucida, serif;
  z-index: 5;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 275px;
  text-align: center;
  font-size: 35px;
  width: 100%;
  font-weight: normal;
  color: rgb(39, 34, 28);
}

/* Contents section */
#contents-list {
  width: 100%;
  height: 300px;
  background-color: rgb(247, 247, 247);
  padding-top: 30px;
}

#contents-list article {
  width: 1000px;
  margin-inline: auto;
  background-color: rgb(247, 247, 247);

}

#right-text {
  flex: 0 0 600px;
  /* background-color: rgb(219, 116, 116); */
  height: 300px;
  font-size: 18px;
  margin-right: 40px;
}

#contents {
  height: 300px;
  flex: 0 0 410px;
  padding: 10px;
  padding-right: 50px;
  padding-left: 0;
  box-sizing: border-box;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contents h3{
  font-family: 'Lora', serif;
  font-size: 27px;
  font-weight: normal;
  margin: 0;
  margin-right: 15px;
  margin-left: 40px;
}

#contents p{
  margin-right: 15px;
  text-align: left;
}

#contents ul {
  margin-right: 15px;
  list-style-type: none;
}

#contents ul a {
  color: black;
}

#contents ul a:visited {
  text-decoration: none;
  color: black;
}

#contents li {
  border-top: 1px solid rgb(126, 130, 146);
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}

#contents li:hover {
  font-weight: bold;
}

#content-list-last {
  border-bottom: 1px solid rgb(126, 130, 146);
}

html {
  scroll-padding-top: 115px;
  scroll-behavior: smooth;
}

/* Articles section */

.left-text {
  flex: 0 0 545px;
  flex-direction: column;
  text-align: center;
  padding: 15px 7px 15px 18px;
  height: 400px;
}

.left-text p {
  text-align: left;
}

.right-text { 
  flex: 0 0 545px;
  flex-direction: column;
  text-align: center;
  margin: 15px 26px 15px 7px;
  height: 400px;
}

.right-text p{ 
  flex: 0 0 240px;
  justify-content: center;
  display: flex;
  align-items: center;
}

#text-body #right-img {
  margin: 20px 10px 0px 40px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

article p {
  font-size: 19px;
  line-height: 1.1;
  margin-bottom: 0;
  margin-left: 15px;
  text-align: left;
}

article h3 {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: 6px;
}

