@font-face {
  font-family: Didot-R;
  src: url(fonts/Didot-Regular.ttf);
}

@font-face {
  font-family: Futura-M;
  src: url(fonts/futura-medium-bt.ttf);
}

@font-face {
  font-family: Futura-L;
  src: url(fonts/futura-light-bt.ttf);
}

html[scroll-top="true"] {
  --header-buttons: transparent;
  --header: transparent;
  --shadow: none;
}

html[scroll-top="false"] {
  --header-buttons: rgb(161, 164, 200);
  --header: rgb(239, 231, 207);
  --shadow: 0px 1px 3px #d5d5d5;
}

body {
  font-family: Lucida, serif;
  margin: 0;
}

/* header section */
.header-space {
  width: 100%;
  height: 95px;
  background-color: rgb(255, 253, 251);
}

h1 {
  font-family: Didot-R, Helvetica, serif;
  font-weight: normal;
  font-size: 70px;
  color: rgb(62, 54, 45);
  margin: 0;
  min-width: 420px;
  margin-left: 30px;
}

h1 span {
  color: rgb(134, 148, 189);
  font-size: 66px;
}

a {
  text-decoration: none;
  width: 420px;
}

header {
  background-color: var(--header);
  position: fixed;
  top: 0;
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  box-shadow: var(--shadow);
}

.arrow-down {
  top:0;
  width: 0; 
  height: 0; 
  border-right: 35px solid transparent;
  border-bottom: 95px solid var(--header);
  margin-right: 10px;
}

.header-buttons {
  padding-right: 30px;
  display: flex;
  background-color: var(--header-buttons);
  height: 100%;
  align-items: center;
}

.header-buttons a{
  text-decoration: none;
  color: rgb(39, 37, 33);
  width: auto;
  margin-inline: 24px;
  padding-top: 6px;
  font-size: 22px;
  font-family: 'Lora', serif;
  color: black;
}

.header-buttons a:hover{
  text-decoration: underline;
  cursor: pointer;
}

/* img-text section */
.container {
  height: 450px;
  position: relative;
}

.container img {
  height: 450px;
  width: 100%;
  position: absolute;
  filter: grayscale(70%) blur(3px) brightness(115%);
}

.container h2 {
  font-family: Didot-R, Helvetica, Arial, sans-serif;
  z-index: 100;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 150px;
  text-align: center;
  transform: translateX(-50%);
  font-size: 45px;
  width: 100%;
}

.container p {
  z-index: 100;
  position: absolute;
  margin: 0;
  left: 50%;
  top: 200px;
  text-align: center;
  transform: translateX(-50%);
  font-size: 28px;
  width: 100%;
}

/* text-body section */
#text-body {
  width: 100%;
  background-color: rgb(247, 247, 247);
  height: 900px;
  padding-top: 20px;
  position: relative;
}

#text-body article {
  margin-inline: auto;
  margin-bottom: 20px;
  width: 1000px;
  height: 400px;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0px 1px 3px #e7e7e7;
  background-color: rgb(254, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text-body h3 {
  font-family: 'Lora', serif;
  font-weight: normal;
}

#a1-text {
  flex: 0 0 560px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#a1-text h3{
  font-size: 24px;
  margin: 0;
}

#text-body article p {
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 0;
}

#a1-text p{
  margin-left: 15px;
  text-align: left;
}

#text-body article img{
  height: 320px;
  width: 360px;
  flex: 0 1 360px;
  margin: 20px 20px 0 20px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

#bottom-text {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  position:absolute;
  bottom: 0px;
}

#text-body article form {
  flex: 0 1 570px;
  background-color: rgb(174, 178, 213);
  margin: 20px;
  height: 360px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form h3{
  text-align: center;
  font-size: 23px;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

form #form-header{
  background-color: rgb(60, 60, 58);
  width: 100%;
  flex: 0 0 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#form-input {
  flex: 1 0 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form label {
  text-align: left;
  width: 82%;
  font-size: 16px;
  margin-bottom: 2px;
}

form input {
  display: block;
  width: 82%;
  height: 25px;
  margin-bottom: 8px;
  margin-top: 0px;
}

form textarea {
  width: 82%;
  margin-bottom: 15px;
}

#a2-text {
  height: 400px;
  flex: 0 0 410px;
  padding: 10px;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#a2-text h3{
  font-size: 27px;
  margin: 0;
  margin-right: 15px;
}

#a2-text p{
  margin-right: 15px;
  text-align: right;
}

#a2-text ul {
  margin-right: 15px;
  list-style-type: none;
}

#a2-text li {
  border-top: 1px solid rgb(90, 96, 114);
  padding: 8px;
  font-size: 20px;
  cursor: pointer;
}

#a2-text li:hover {
  font-weight: bold;
}

#list-last {
  border-bottom: 1px solid rgb(90, 96, 114);
}

/* footer section */
#award-banner {
  width: 100%;
}

footer {
  width: 100%;
  height:200px;
  background-color: rgb(21, 21, 21);
}

#footer-flex {
  width: 900px;
  height: 100%;
  margin: auto;
  display: flex;
  position: relative;
  font-size: 12px;
}

#footer-flex div {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Futura-L;
}

#footer-flex div h4{
  color: rgb(199, 199, 199);
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 1.2px;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 180px;
  font-family: Futura-L;
}

#footer-flex div ul{
  margin: 0;
  padding: 0;
  height: 100px;
  width: 90%;
  font-family: Futura-M;
}

#footer-flex div p{
  margin: 10px;
  color: #d4d4d2;
  cursor: pointer;
}

#footer-flex div p:hover{
  color: #ffffff;
}

#footer-flex div h3{
  font-size: 63px;
  margin: 20px;
  color: #edede8;
  font-family: Didot-R, Helvetica, serif;
  font-weight: normal;
  line-height: 1;
}

#footer-flex div span {
  color: rgb(134, 148, 189);
  font-size: 67px;
}

#footer-flex div span:hover {
  color: rgb(62, 54, 45);
}

#bottomest-text {
  color: rgb(199, 199, 199);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Futura-L;
  text-align: center;
}